{% extends 'base.html.twig' %}

{% block content %}
    <div class="text-center">
        <h1>Bienvenue au Quai Antique</h1>
    </div>
    <div class="row mt-4 mx-2">
            {% for dish in dishes %}
                <div class="mt-4 col-xl-3 col-md-6 col-sm-12 d-flex justify-content-center align-items-center img-container">
                    <img class="imagesize"
                         src="/uploads/{{ dish.imagepath }}"
                         alt="{{ dish.description }}"
                         title="{{ dish.title }}">
                    <div class="title">
                        <div class="text">{{ dish.title }}</div>
                    </div>
                </div>
            {% endfor %}
    </div>

    <div class="text-center mt-4">
        <a href="{{ path('reservation') }}"><button class="btn btn-custom ">Réserver un table</button></a>
    </div>
{% endblock %}