{% extends 'base.html.twig' %}

{% block content %}
    <div class="text-center">
        <h1>Administration des réservations</h1>
    </div>

    <div class="mx-2">
        <a href="{{ path('admin') }}">Retour à la page générale d'administration</a>
        <hr>
        <div class="row">
            <div class="col-md-6">
                {{ form(form) }}
            </div>
        </div>
        <a href="{{ path('app_admin_reservation_index') }}"><button class="btn btn-custom">Toutes les réservations</button></a>
        <br>
        <br>
        <table class="table">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Heure d'arrivée</th>
                    <th>places réservées</th>
                    <th>Service</th>
                    <th>Commentaires</th>
                    <th>Prénom</th>
                    <th>Nom</th>
                    <th>Email</th>
                    <th>actions</th>
                </tr>
            </thead>
            <tbody>
            {% for reservation in reservations %}
                <tr>
                    <td>{{ reservation.date ? reservation.date|date('Y-m-d') : '' }}</td>
                    <td>{{ reservation.arrivalHour ? reservation.arrivalHour|date('H:i:s') : '' }}</td>
                    <td>{{ reservation.seats }}</td>
                    <td>{{ reservation.service }}</td>
                    <td>{{ reservation.allergy }}</td>
                    <td>{{ reservation.firstName }}</td>
                    <td>{{ reservation.lastName }}</td>
                    <td>{{ reservation.email }}</td>
                    <td>
                        <a href="{{ path('app_admin_reservation_show', {'id': reservation.id}) }}">Lister</a>
                        |
                        <a href="{{ path('app_admin_reservation_edit', {'id': reservation.id}) }}">Modifier</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="10">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <a href="{{ path('app_admin_reservation_new') }}"><button class="btn btn-custom">Créer une nouvelle réservation</button></a>
    </div>

{% endblock %}
