{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block content %}
    <div class="text-center">
        <h1>Nos horaires d'ouverture</h1>
    </div>

    {% for info in infos %}
        <div class="grid-container mx-3">
            <div class="item1"><p>{{ info[0] }}</p></div>
            <div class="item2">
                <p>{% if info[1] is null and info[2] is null and info[3] is null and info[4] is null %}
                    Fermé
                {% else %}
                    {% if info[1] is null and info[2] is null %}
                        Fermé le midi
                    {% else %}
                        {% if info[1] is not null %} {{ info[1].format('H:i') }}{% endif %} |
                        {% if info[2] is not null %} {{ info[2].format('H:i') }}{% endif %}
                    {% endif %}
                {% endif %}</p>
            </div>
            <div class="item3">
                <p>{% if info[1] is null and info[2] is null and info[3] is null and info[4] is null %}
                {% else %}
                    {% if info[3] is null and info[4] is null %}
                        Fermé le soir
                    {% else %}
                        {% if info[3] is not null %} {{ info[3].format('H:i') }}{% endif %} |
                        {% if info[4] is not null %} {{ info[4].format('H:i') }}{% endif %}
                    {% endif %}
                {% endif %}</p>
            </div>
        </div>
        <hr>
    {% endfor %}

{% endblock %}
