{% extends 'base.html.twig' %}

{% block content %}
    <div class="text-center">
        <h1>Page d'administration</h1>
    </div>

    <div class="mx-2">
        <p>Bienvenue sur le portail d'administration. Vous pouvez ici changer les données affichées sur le site</p>
        <hr>
        <a href="{{ path('admin_infos') }}">Modifier ici les données principales du Restaurant</a>
        <br>
        <a href="{{ path('admin_schedule') }}">Modifier ici les horaires d'ouverture</a>
        <br>
        <a href="{{ path('app_admin_dish_index') }}">Modifier ici les plats</a>
        <br>
        <a href="{{ path('app_admin_menu_index') }}">Modifier ici les menus</a>
        <br>
        <a href="{{ path('app_admin_formula_index') }}">Modifier ici les formules</a>
        <br>
        <a href="{{ path('app_admin_dispo_index') }}">Administrer les disponibilités</a>
    </div>

{% endblock %}

